<h1>Create New Figure</h1>
<form class="" action="/figures" method="post">
  <label for="figure_name">Name</label><br>
  <input type="text" name="figure[name]" value="" id="figure_name"><br><br>
  <label for="new_title"> New Figure Title</label><br>
  <input type="text" name="title[name]" value="" id="new_title"><br><br>
  <label for="new_landmark">New Figure Landmark</label><br>
  <input type="text" name="landmark[name]" value="" id="new_landmark"><br><br>

  <h3>Choose Titles:</h3>
  <%@titles.each do |title|%>
    <label for=""><%= title.name %></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><br>
  <%end%>

  <h3>Choose Landmarks:</h3>
  <%@landmarks.each do |landmark|%>
    <label for=""><%= landmark.name %></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><br><br>
  <%end%>

  <input type="submit" name="" value="Create New Figure">

</form>
